.git
.github
node_modules
vendor
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
public/build
public/hot
public/storage
.env
.env.*
!.env.example
docs/screenshots/*.png
*.md
!README.md
tests
.phpunit.result.cache
